*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans serif;
}
.main-container{
    width: 85%;
    height: 100%;
    margin: auto;
    margin-top: 38px;
    padding: 5px;
    padding-bottom: 60px;
}

body{
    background-color: rgb(203, 230, 240);
}

.name-container{
    height: 310px;
    text-align: center;
    padding-top: 50px;
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px ;
    background-color: white;
}
 div img{/* makes the image round and positions it into the center*/
    width: 30%;
    border-radius: 50%;
}
h1,h4{
    padding: 10px;
    text-align: center;
}

ul{/*Removes the bullet points since the border cuts between the content and the bullet points*/
    list-style: none;    
}

h1{
    font-weight: 400;
    color: rgb(85,83,83);
}
h4{
    color: grey;
    font-size: 1200;
    font-weight: lighter;
    font-weight: 300;
}

.about{
    height: 200px;
    background-color: rgb(90, 179, 226);
    padding: 40px 30px 30px;
    line-height: 30px;
}
div h2{
    border-bottom: 1px solid white;
    padding: 25px 0px;
    color: white;
    font-weight: 300;

}
p{
    font-size:18px ;
    color: white;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}
.work{
    height:280px;
    background-color: rgb(93, 157, 240);
    padding: 25px;
}
p,li { /* customizes the list and other contents */
    font-size: 18px;
    color: white;
    font-weight: lighter;
    text-align: left;
    padding-top: 20px; 
}

.contact{ /*  */
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    height:280px;
    padding: 25px 30px;
    background-color: rgb(60, 132, 226);
}

.social{/* If you put social and button together, it will create another border and background ontop of the contact box(better to keep seperate so that the buttons can be individual*/
    display: flex; 
    flex-wrap:wrap; /* the buttons will wrap when necessary so that they can create that column*/
}
button{ /* Customizes the buttons and positions them*/
    background-color: rgb(60, 132, 226);
    color: white;
    border: 1px solid white;
    border-radius: 7px;
    width: 100px;
    padding: 8px 0px;
    margin: 2px;
    margin-top: 30px;
    }  

@media screen and (min-width:750px){
.main-container{ /* sizes the container*/
    padding: 60px;
    max-width: 650px;
}


.about .work .contact{ /* the placement of the container*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p, li, .social{ /*shifts all of the content in each box to the right*/
    border-left: 1px solid white;
    margin-left: 200px;
    padding-left: 20px;
    justify-content: right;
    width: 70%;
}
.social button{ /*position of the buttons*/
    margin-right: 100px;
}
div h2{/*positioning of the second header*/
    border-bottom:none;
    justify-content: left;
    display: inline;
    width: 30%;
}
}
@media screen and (min-width: 1500px){
.main-container{
    width: 800px;
    padding: 100px;
}

h2{
    border-bottom: none;
    text-align: left;
}

p,li{
    text-align:left;
    border-left: 1px solid white;
    margin: left 300px;
    padding-left: 20px;
}

.about{
    height: 230px;
    padding:25px;
}
.work{
    height: 230px;
    padding: 25px;
}
.contact{
    height: 230px;
    padding: 25px;
}

}